/*  your css code here. If applicable */

.container {
	box-shadow: 1px 1px 10px gray;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	background: #f0f1f0;
}

.container img {
	width: 300px;
}

.container button {
	background: tomato;
	border: none;
	padding: 10px;
	color: white;
	width: fit-content;
	margin: auto;
	border-radius: 5px;
	font-size: 20px;
}